.network-links {
  padding-left: 2em;
  list-style: none;
}

.network-link a {
  padding: 0.5em;
  border-bottom: 0;
  display: block;
  padding-left: 2.25em;
}

.network-links li {
  padding: 0;
}

.network-link a {
  color: #fcc453;
}

.network-link a::before {
  content: "";
  float: left;
  width: 1.75em;
  height: 1.75em;
  background: url("images/web.svg") no-repeat center;
  margin-left: -2em;
  margin-top: -0.125em;
  transition: background 0.25s linear;
}

.network-link a::after {
  border: none;
  position: static;
  bottom: auto;
  left: auto;
  right: auto;
}

.network-link a:focus {
  outline: none;
}

.network-link a:hover::before,
.network-link a:focus::before {
  background-image: url("images/web-hover.svg");
}

.twitter-network-link a::before {
  background-image: url("images/twitter.svg");
}

.twitter-network-link a:hover::before,
.twitter-network-link a:focus::before {
  background-image: url("images/twitter-hover.svg");
}

.github-network-link a::before {
  background-image: url("images/github.svg");
}

.github-network-link a:hover::before,
.github-network-link a:focus::before {
  background-image: url("images/github-hover.svg");
}

.stackoverflow-network-link a::before {
  background-image: url("images/stackoverflow.svg");
}

.stackoverflow-network-link a:hover::before,
.stackoverflow-network-link a:focus::before {
  background-image: url("images/stackoverflow-hover.svg");
}

.linkedin-network-link a::before {
  background-image: url("images/linkedin.svg");
}

.linkedin-network-link a:hover::before,
.linkedin-network-link a:focus::before {
  background-image: url("images/linkedin-hover.svg");
}

.instagram-network-link a::before {
  background-image: url("images/instagram.svg");
}

.instagram-network-link a:hover::before,
.instagram-network-link a:focus::before {
  background-image: url("images/instagram-hover.svg");
}

.soundcloud-network-link a::before {
  background-image: url("images/soundcloud.svg");
}

.soundcloud-network-link a:hover::before,
.soundcloud-network-link a:focus::before {
  background-image: url("images/soundcloud-hover.svg");
}

.blog-network-link a::before {
  background-image: url("images/blog.svg");
}

.blog-network-link a:hover::before,
.blog-network-link a:focus::before {
  background-image: url("images/blog-hover.svg");
}

.gplus-network-link a::before {
  background-image: url("images/gplus.svg");
}

.gplus-network-link a:hover::before,
.gplus-network-link a:focus::before {
  background-image: url("images/gplus-hover.svg");
}

.email-network-link a::before {
  background-image: url("images/email.svg");
}

.email-network-link a:hover::before,
.email-network-link a:focus::before {
  background-image: url("images/email-hover.svg");
}

.phone-network-link a::before {
  background-image: url("images/phone.svg");
}

.phone-network-link a:hover::before,
.phone-network-link a:focus::before {
  background-image: url("images/phone-hover.svg");
}
